<form class="bg-{{page.color}} pv4 pa4 card-alt" action="/inquiry.php" method="POST">
  <div class="mb3">
    <label class="sr-only" for="name">Your name</label>
    <input required type="text" class="w-100 pa3 br1 bn shadow-6 josefin" id="name" name="name" placeholder="Name">
  </div>
  <div class="mb3">
    <label class="sr-only" for="email">Your email address</label>
    <input required class="w-100 pa3 br1 bn shadow-6 josefin" type="email" name="email" id="email" placeholder="Your email address">
  </div>
  <div class="dn mb3">
    <label class="sr-only" for="property">Property</label>
    <input required class="w-100 pa3 br1 bn shadow-6 josefin" type="text" name="property" id="property" placeholder="Property" value="{{ include.property }}">
  </div>
  <div class="mb3">
    <label class="sr-only" for="message">Message</label>
    <textarea id="message" class="w-100 pa3 br1 bn shadow-6 josefin" rows="3" name="message" placeholder="Message"></textarea>
  </div>
  <div class="tc mt4">
    <button type="submit" class="josefin dib br3 bg-white ph4 pv2 {{ page.color }} link bn shadow-6 pointer">Send message</button>
  </div>
</form>
