<!-- <form action="/contact.php" method="POST">
  <input type="hidden" name="_next" value="http://whitneypark.com/thank-you">
  <div class="form-group">
    <label class="sr-only" for="name">Your name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="message">Message</label>
    <textarea id="message" class="form-control" rows="3" name="message" placeholder="Message"></textarea>
  </div>
  <div class="g-recaptcha" data-sitekey="6LfPeAgUAAAAAIVKsT2AhfXG01LthV7Gd4909iFe"></div>
  <button type="submit" class="btn btn-default">Send</button>
</form> -->

<form id="contact-form">
  <input type="hidden" name="_next" value="http://whitneypark.com/thank-you">
  <div class="mb3">
    <label class="sr-only" for="name">Your name</label>
    <input type="text" class="w-100 pa2 br1 bn shadow-4" id="name" name="name" placeholder="Name">
  </div>
  <div class="mb3">
    <label class="sr-only" for="email">Email address</label>
    <input type="email" class="w-100 pa2 br1 bn shadow-4" id="email" name="email" placeholder="Email">
  </div>
  <div class="mb3">
    <label class="sr-only" for="message">Message</label>
    <textarea id="message" class="w-100 pa2 br1 bn shadow-4" rows="3" name="message" placeholder="Message"></textarea>
  </div>
  <div class="mb3">
    <label for="test">Are you human? What's 2 + 2?</label>
    <input type="text" class="w-100 pa2 br1 bn shadow-4" id="test" name="test" placeholder="Answer">
  </div>
  <input class="sr-only" type="text" name="_gotcha">
  <button type="submit" class="btn btn-default">Send</button>
</form>
