<footer class="ph3 pv4 tc">
  <a class="dib link dark-gray" href="/">HOME</a>
  {% for property in site.data.properties %}
    / <a class="dib link dark-gray" href="{{ property.link }}">{{ property.nav-name }}</a>
  {% endfor %}
  <p class="mv0 gray">&copy;2018 <a class="link gray" href="http://gb-re.com" target="_blank">GB Real Estate Investments, LLC.</a></p>
  <p class="gray f7 measure-narrow center">Website design and development by <a class="link black" href="http://sandcastle.co" target="_blank">Sandcastle</a></p>
</footer>
