<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} • Green Bay, WI {% if page.title %}• {{ page.title }}{% endif %}</title>
  <meta name="description" content="GB Real Estate Investments, LLC, is a licensed real estate brokerage that brokers and develops retail real estate property in Florida and Wisconsin.">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/css/main.css?v=4">

  <script src='https://www.google.com/recaptcha/api.js'></script>

  {% include social-meta.html %}
</head>
