<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span>Menu</span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/welcome">Welcome</a></li>
        <li><a href="#">Plans</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
</nav>
