<meta name="twitter:card" content="summary_large_image" />
<meta property="og:title" content="{}% if page.title %}{{ page.title }} / {% endif %}{{ site.title }} / Green Bay, WI">
<meta property="og:type" content="article">
<meta property="og:site_name" content="Whitney Park Townhomes & 901 Main">
<meta property="og:url" content="http://www.whitneypark.com{{ page.url }}">
{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 200}}">
{% endif %}
{% if page.social-image %}
<meta property="og:image" content="http://www.whitneypark.com/images/{{ page.social-image }}">
{% endif %}
