.card {
  border-bottom: .5rem solid white;
}

@media(min-width: 60em) {
  .card-container {
    overflow: hidden;
  }
  .card {
    float: left;
    position: relative;
    border-bottom: 0;
  }
  .card:first-child {
    left: -3%;
  }
  .card:last-child {
    right: 3%;
  }
  .card-content {
    width: 110%;
    -webkit-clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
  }
  .card:first-child .card-content {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
  }
  .card:last-child .card-content {
    -webkit-clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .card-container-reverse .card:first-child .card-content {
    -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 0% 100%);
  }
  .card-container-reverse .card:last-child .card-content {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%);
  }
}
