.card {
  border-bottom: .5rem solid white;
}
.card-alt {
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

@media(min-width: 60em) {
  body, section {
    overflow-x: hidden;
  }
  .card-container {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 110%;
    left: -5%;
  }
  .card {
    overflow: hidden;
    width: 100%;
    transform: skewX(-12deg);
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 0;
  }
  .card .bg-animate:hover {
    transform: scale(1.02) skewX(12deg);
  }
  .bg-animate:hover {
    // background-size: 102% 102%;
    transform: scale(1.02);
    transition: transform .7s ease-in;
  }
  .bg-animate .bg-animate-content {
    transition: transform .7s ease-in;
  }
  .bg-animate:hover .bg-animate-content {
    transform: scale(.98);
    transition: transform .7s ease-in;
  }
  .bg-animate {
    background-size: 100% 100%;
    background-position: center;
    transition: transform .7s ease-in;
  }
  .card-content {
    position: relative;
    right: 10%;
    width: 120%;
    padding-left: 20%;
    padding-right: 20%;
    transform: skewX(12deg);
  }
  .card-container-reverse .card {
    transform: skewX(12deg);
  }
  .card-container-reverse .card-content {
    transform: skewX(-12deg);
  }
  .card:first-child .card-content {
    padding-left: 25%;
  }
  .card:last-child .card-content {
    padding-right: 25%;
  }
  .card-wide {
    position: relative;
    // width: 1%;
    // right: -5%;
  }
  .card-container-wide .card .card-content,
  .card-wide .card-content,
  .card-wide:first-child .card-content {
    padding-left: 0;
    padding-right: 0;
  }
}
