.card-hero {
  position: absolute;
  transform: skewX(-15deg);
  width: 85%;
}
.card-hero-left {
  left: -35%;
}
.card-hero-right {
  right: -35%;
}
.card-hero-content {
  position: relative;
  transform: skewX(15deg);
}
.card-hero-left .card-hero-content {
  left: 25%;
}
.card-hero-right .card-hero-content {
  right: 25%;
}
