.nav-toggle:before {
  content: "";
  width: 200%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: -120%;
  transform: skewX(60deg);
}

.nav-toggle .bar {
  position: relative;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle .bar:before,
.nav-toggle .bar:after {
  position: absolute;
  content: "";
}

.nav-toggle .bar,
.nav-toggle .bar:before,
.nav-toggle .bar:after {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background-color: #000;
}

.nav-toggle .bar:before {
  margin-top: -6px;
}

.nav-toggle .bar:after {
  margin-top: 6px;
}

.nav-toggle .bar,.nav-toggle .bar:before,.nav-toggle .bar:after{-webkit-transition-duration:.2s;transition-duration:.2s}

.nav-toggle.open .bar{background-color:transparent}

.nav-toggle.open .bar:before{margin-top:0;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition-duration:.2s;transition-duration:.2s}

.nav-toggle.open .bar:after{margin-top:0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition-duration:.2s;transition-duration:.2s}
// .bar {
//   display: block;
//   margin-top: 4px;
//   margin-bottom: 4px;
//   height: 4px;
//   width: 28px;
//   background-color: #7e7e7e;
//   border-radius: 2px;
// }
