/*
 * Typography
 */

@media (min-width: 30em) {
  html { font-size: 16.5px; }
}
.josefin { font-family: 'Josefin Sans', sans-serif; }
.brother { font-family: 'brother-1816', sans-serif; }
.avenir { font-family: 'Avenir Next Condensed', sans-serif; }
.avenir-full { font-family: 'Avenir Next', sans-serif; }

ul li,
ol li {
  margin-bottom: 1rem;
}

hr {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  line-height: 1.1em;
}

h1 {
  line-height: 1.1em;
}

.main-highlight {
  line-height: 1.4em;
  border-radius: 6px;
  background-color: #444444b8;
  width: 90%;
}

.h1-highlight {
  line-height: 1.4em;
  border-radius: 6px;
  background-color: #444444b8;
  width: 60%;
}

.h2-highlight {
  line-height: 1.4em;
  border-radius: 6px;
  background-color: #444444b8;
  width: 80%;
}
