/*
 * Typography
 */

@media (min-width: 30em) {
  html { font-size: 16.5px; }
}
.josefin { font-family: 'Josefin Sans', sans-serif; }
.raleway { font-family: 'Raleway', sans-serif; }

ul li,
ol li {
  margin-bottom: 1rem;
}
