<section style="background-image: url('/images/background-3.jpg');" class="cover pa3 pv4 mw9 center">
  <div class="mw8 center">
    <h2 class="ph2 f2 mw6 center tc mb3 dark-grey brother">Which unit is right for you?</h2>
    <p class="mt0 gray f4 brother tc">Both developments opening in 2019.</p>
    <div class="flex-l mb4">
      <a href="/townhomes" class="card-alt-2 mr2 cover items-center flex-l justify-center w-100-l">
      <div class="flex-l items-center justify-center w-100-l white tc card-alt-2 cover bg-animate pv4 pv5-ns ph4" style="background-image: url('/images/poster-image-whitney.jpg');">
      </div>
      </a>
      <a href="/901-main" class="card-alt-2 cover ml2 items-center flex-l justify-center w-100-l">
      <div class="flex-l items-center justify-center w-100-l white tc card-alt-2 cover bg-animate pv4 pv5-ns ph4" style="background-image: url('/images/poster-image.jpg');">
      </div>
      </a>
    </div>
  </div>
</section>
