<section class="mw9 center">
  <!-- <div class="card-container card-container-reverse card-container-wide">
    {% for highlight in site.data.highlights %}
    <div class="card w-50-l">
      <div class="card-content">
        <img class="db w-100" src="/images/{{ highlight.image }}" alt="{{ highlight.image-description }}">
        <div class="mw5 center tr">
          <h3 class="mb0 main-blue f4 raleway">{{ highlight.title }}</h3>
          <p>{{ highlight.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> -->

  <div class="flex-l mv4">
  {% for highlight in site.data.highlights %}
  <div class="w-50-l">
    <div class="card card-wide">
      <div class="card-content">
        <img class="db w-100" src="/images/{{ highlight.image }}" alt="{{ highlight.image-description }}">
      </div>
    </div>
      <div class="mw5 center tc">
        <h3 class="mb0 main-blue f4 raleway">{{ highlight.title }}</h3>
        <p>{{ highlight.description }}</p>
      </div>
  </div>
  {% endfor %}
  </div>

  <!-- <div class="card-container card-container-reverse">
    <div class="card w-50-l">
      <div class="card-content ph4 pv5 cover white tc" style="background-image: url('/images/townhomes-neighborhood.jpg');">
        <div class="measure center">
          <h3 class="mv0 f3 text-shadow raleway">Bars, restaurants, and coffee</h3>
          <p class="mb0">Beer, coffee, or dinner within blocks of home. Eat at home tonight? Why?!</p>
        </div>
      </div>
    </div>
    <div class="card w-50-l">
      <div class="card-content ph4 pv5 cover white tc" style="background-image: url('/images/townhomes-neighborhood-2.jpg');">
        <div class="measure center">
          <h3 class="mv0 f3 text-shadow raleway">Retail services</h3>
          <p class="mb0 text-shadow-2">What every urban dweller needs quick access to: everyday essentials! Milk, eggs, and... aspirin. Hey, we don't judge!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt2 card-container">
    <div class="card w-50-l">
      <div class="card-content ph3 pv5 cover white tc bg-gray">
        <div class="measure center">
          <h3 class="mv0 f3 text-shadow raleway">Whitney Bark Park</h3>
          <p class="mb0">You probably won't find Snoopy at Whitney Bark Park, but you will find many of Green Bay's four-legged friends and their owners enjoying this year-round, fenced-in, off-leash dog area.</p>
        </div>
      </div>
    </div>
    <div class="card w-50-l">
      <div class="card-content ph3 pv5 cover white tc" style="background-image: url('/images/townhomes-whitney-park.jpg');">
        <div class="measure center">
          <h3 class="mv0 f3 text-shadow raleway">Parks and recreational trails</h3>
          <p class="mb0">Whitney Park is the oldest park in the city, offering generous shade in the summer months as well as multiple community events and gatherings.</p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="mt2 w-100-l">
    <div class="ph3 pv5 cover white tc bg-gray">
      <div class="measure center">
        <h3 class="mv0 f3 text-shadow raleway">Library & Co-Working Space</h3>
        <p class="mb0">Check out your favorite new book or newspaper at the Brown County Library. While there, check out Rise & Grind, Green Bay's newest co-working space and café.</p>
      </div>
    </div>
  </div> -->
</section>
