<section class="mw9 center">
  <div class="card-container">

      <div class="card w-50-l white tc">
        <a href="/townhomes">
          <div class="card-400 card-content cover h-100 bg-animate pv4 pv6-ns" style="background-image: url('/images/poster-image-whitney.jpg');">
          </div>
        </a>
    </div>


      <div class="card w-50-l white tc">
        <a href="/901-main">
           <div class="card-400 card-content cover h-100 bg-animate pv4 pv6-ns" style="background-image: url('/images/poster-image.jpg');">
           </div>
        </a>
      </div>



  </div>
</section>
