<section class="mw9 center">
  <div class="card-container">
  {% for property in site.data.properties %}
      <div class="card w-50-l white tc">

          <div class="card-content cover h-100 bg-animate pv4 pv6-ns" style="background-image: url('/images/{{ property.image }}');">
            <a href="{{ property.link }}" class="card-link">

            <div class="bg-animate-content">
              <h3 class="mv0 f2 lh-title h1-highlight center text-shadow brother ttu"><a class="white link" href="{{ property.link }}">{{ property.name }}</a></h3>
              <p class="mw5 center mt2 f4 text-shadow-2 brother">{{ property.description }}</p>
            
            </div>

        </a>
      </div>

    </div>
  {% endfor %}
  </div>
</section>
