<section class="mw9 center">
  <div class="card-container">
  {% for property in site.data.properties %}
    <div class="card w-50-l white tc">
      <div class="card-content cover h-100 bg-animate pv4 pv6-ns" style="background-image: url('/images/{{ property.image }}');">
        <div class="bg-animate-content">
          <h3 class="mv0 f2 lh-title text-shadow raleway"><a class="white link" href="{{ property.link }}">{{ property.name }}</a></h3>
          <p class="mt2 f4 text-shadow-2">{{ property.description }}</p>
          <p class="mv0 f4"><a class="dib br3 bg-white-80 ph4 pv1 {{ property.color}} link shadow-6" href="{{ property.link}}">Learn more</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</section>
